.AddPerson {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__formFields {
    display: flex;
    margin-bottom: 25px;
  }

  &__cta {
    display: flex;
    justify-content: space-between;

    button {
      flex-basis: 48%;
      width: 48%;
    }
  }
}