@import './variables';
@import './base';

@import './components/PrivateHeader';
@import './components/PersonsTable';
@import './components/AddPerson';
@import './components/FormGroup';
@import './components/Statement';
@import './components/Paper';

.remove {
  background-color: #F44336;
  color: white;
  font-weight: bold;
  text-align: center;
}

.remove:hover {
  cursor: pointer;
}



.btn {
  border: none;
  background: none;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 15px;
  color: white;

  &:not(:first-child) {
    margin-left: 10px;
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--success {
    background-color: #4CAF50;
  }

  &--danger {
    background-color: #F44336;
  }
}



@media print {

  .remove {
    display: none;
  }

  .Dashboard__content {
    padding: 0;
  }

  .Paper {
    padding: 0;
    width: 21cm;
    height: 29.5cm;
    margin-bottom: 0;
  }

  .Statement {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .AddPerson,
  .PrivateHeader {
    display: none;
  }

}







