@import './variables';
@import './base';

@import './components/PrivateHeader';
@import './components/PersonsTable';
@import './components/AddPerson';
@import './components/FormGroup';




.FormGroup {
  &:not(:first-child) {
    margin-left: 5px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
  }

  &__input {
    padding: 8px;
    background-color: rgba(0, 0, 0, .05);
  }
}



.remove {
  color: black;
}

.remove:hover {
  background-color: red;
  cursor: pointer;
}



.btn {
  border: none;
  background: none;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  width: 100%;
  display: block;

  &:not(:first-child) {
    margin-left: 10px;
  }

  &--success {
    background-color: #4CAF50;
  }

  &--danger {
    background-color: #F44336;
  }
}











