@import './variables';
@import './base';

@import './components/PrivateHeader';
@import './components/PersonsTable';
@import './components/AddPerson';
@import './components/FormGroup';
@import './components/Statement';
@import './components/BoxedView';
@import './components/Paper';

.remove {
  background-color: #F44336;
  color: white;
  font-weight: bold;
  text-align: center;
}

.remove:hover {
  cursor: pointer;
}



.btn {
  border: none;
  background: none;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 15px;
  color: white;

  &--block {
    width: 100%;
    display: block;
  }

  &--primary {
    background-color: #2196F3;
  }

  &--success {
    background-color: #4CAF50;
  }

  &--danger {
    background-color: #F44336;
  }
}



@media print {

  @page {
    margin: 10mm;
  }

  .remove {
    display: none;
  }

  body {
    margin: 0;
  }

  .Dashboard__content {
    padding: 0;
    display: block;
  }

  .PersonsTable {
    width: 100%;
    page-break-after: always;
  }

  .Paper {
    width: 100%;
    height: 100%;
    position: relative;
    page-break-after: always;
    margin: 0;
    padding: 0;
  }

  .Statement {
    margin-top: 20mm;
  }

  .AddPerson,
  .PrivateHeader {
    display: none;
  }

  .page-break {
    position: relative;
    display: block;
    page-break-before: always;
  }

}







